/*Fontes*/
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito-Medium";
  src: url("../fonts/Nunito-Medium.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay - Medium";
  src: url("../fonts/PlayfairDisplay-Medium.ttf");
}

@font-face {
  font-family: "Italianno";
  src: url("../fonts/Italianno-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
}

/*CONFIGURAÇÃO DA PÁGINA*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Nunito";

    display: flex;
    flex-direction: column;
    align-items: center;
}


/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 90px;

    position: fixed; /*fixa o elemento na janela*/
    background-color: #ffffff; /* Cor de fundo (senão o texto de baixo vai passar por trás) */
    z-index: 1000; /* Garante que fique POR CIMA de tudo */
   
    left: 0;
    width: 100%;

    box-sizing: border-box; /* Faz o padding ser incluído na largura total */

    .logo{
        display: flex;
        align-items: center;

        img{
            width: 58px;
            height: 49px;
        }

        span{
            font-family: "PlayfairDisplay";
        }
    }
}

nav{
    ul{
        list-style: none;
        display: flex;
        
        li{
            margin: 10px;

            a{
                text-decoration: none;
                color: #000;
            }
        }
    
    }

}


/*APRESENTAÇÃO*/
.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1498px;
    height: 807px;

    background-image: url(../images/fundo.png);
    background-size: cover;
}

.apresentacao h1{
    font-family: "PlayfairDisplay - Medium";
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    line-height: 1.1; /*altura dalinha*/

    margin-bottom: 25px;

span{
    font-family: "Italianno";
    color: #EF6A85;
    font-size: 90px;
    line-height: 0.5; /*altura dalinha*/
}
}

.apresentacao p{
    text-align: center;
    color: rgba(0, 0, 0, 0.59); /*opacidade da cor em 59%*/
    margin-bottom: 20px;
}

.destaque-ong{
    font-size: 13px;
    color: #860F37;

    background-color: rgba(255, 246, 229, 0.69);
    padding: 10px 24px;
    border-radius: 50px;
    border: 2px solid #FFF6E5;

    display: inline-flex; /*alinha a bolinha com o texto*/
    align-items: center;
    
}

.destaque-ong::before {
  content: "";               /* Elemento vazio, mas visível */
  display: inline-block;
  width: 10px;               /* Tamanho da bolinha */
  height: 10px;
  background-color: #FFF6E5; 
  border-radius: 50%;        /* Deixa redondinha */
  margin-right: 12px;       
}



/*QUEM SOMOS*/
.sobre{
    width: 1498px;
    height: 766px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img{
        width: 432px;
        height: 408px;
    }
}


.bloco-visual {
    position: relative; /* O filho absoluto vai usar isso como base */
    display: inline-block; /* Garante que o wrapper tenha o tamanho exato da imagem */
}

.textos{
    align-self: flex-start;
    margin-top: 180px;

    .titulo{
        font-size: 13px;
        color: #EF6A85;
    }

    h1{
        font-family: "PlayfairDisplay";
        font-weight: 100;
        font-size: 40px;
        line-height: 1.0; 

        margin-bottom: 25px;

        span{
            font-family: "Italianno";
            color: #EF6A85;
            font-size: 65px;
            line-height: 1.0; 

        }
    }

    p{
        color: rgba(0, 0, 0, 0.59);
    }
}

.destaque-2-ong{ /*se posiciona dentro do wrapper*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FFF6E5;
    padding: 17px 35px;
    border-radius: 13px;

    box-shadow: 3px 15px 27px -1px rgba(239, 106, 133, 0.18);

    position: absolute;
    
    /* POSICIONAMENTO RELATIVO À IMAGEM */
    bottom: -60px;  
    right: -140px;    

    .numero{
        font-family: "Poppins", sans-serif;
        font-size: 43px;
        color: #EF6A85;
    }

    .mulheres{
        color: rgba(0, 0, 0, 0.59);
    }
}





/*O QUE FAZEMOS*/
.servicos{
    width: 1498px;
    height: 766px;

    background-color: #E9D7F5;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
    margin-right: 20px;

}

.textos-2{
        align-self: flex-start;
        margin-left: 120px;
        margin-top: -80px;

        .titulo-2{
        font-size: 13px;
        color: #EF6A85;
    }

    h1{
        font-family: "PlayfairDisplay";
        font-weight: 100;
        font-size: 40px;
        line-height: 1.5; 

        margin-bottom: 25px;

        span{
            font-family: "Italianno";
            color: #EF6A85;
            font-size: 65px;
            line-height: 1.5; 

        }
    }
}

.conteiner{
    display: flex;
    align-items: center;

    margin-top: 80px;

}

.acolhimento-emocional{
    display: flex;
    flex-direction: column ;

    margin-right: 15px;

    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;

    img{
        width: 74px;
        height: 74px;
        margin-bottom: 23px;
    }
}

.acolhimento-emocional span{
    font-family: "Nunito-Medium";
    font-weight: 600;
    color:#860F37 ;

    margin-bottom: 18px;
}

.acolhimento-emocional p{
    color: rgba( 134, 15, 55, 0.68) ;
    word-spacing: 15px;

    text-align: left;
    max-width: 250px; /* ajusta conforme necessário */
    text-align: left;
    word-spacing: 16px;
    line-height: 1.6;

}

.rede-de-apoio{
    display: flex;
    flex-direction: column ;

    margin-left: 15px;

    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;

    img{
        width: 74px;
        height: 74px;
        margin-bottom: 23px;
    }
}

.rede-de-apoio span{
    font-family: "Nunito-Medium";
    font-weight: 600;
    color:#860F37 ;

    margin-bottom: 18px;
}

.rede-de-apoio p{
    color: rgba( 134, 15, 55, 0.68) ;
    word-spacing: 15px;

    text-align: left;
    max-width: 250px; /* ajusta conforme necessário */
    text-align: left;
    word-spacing: 5px;
    line-height: 1.6;
}

