/*Fontes*/
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "Italianno";
  src: url("../fonts/Italianno-Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}